.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: calc(100vh - 200px);
  background-color: #f4f4f44b;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 0 #d2d2d2;
  padding: 40px 30px;
}

.app__form {
  width: 400px;
  position: relative;
  height: 70px;
  transition: 0.4;
}

.app__form__input {
  background-color: transparent;
  border: 1px solid rgb(116, 176, 176);
  border-radius: 20px;
  outline: none;
  width: 300px;
  height: 50px;
  padding: 0 15px;
  box-shadow: 0px 2px 3px 0 #d2d2d2;
  font-size: 18px;
}

.app__form__input:hover {
  box-shadow: 0px 2px 5px 0 #b4b4b4;
}

.app__btn {
  width: 50px;
  height: 50px;
  background-color: rgb(112, 191, 200);
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
}

.app__form__btn {
  position: absolute;
  top: 1px;
  right: 70px;
}

.app__btn__add {
  margin-left: 10px;
  background-color: rgb(96, 219, 147);
}
.app__btn:hover {
  cursor: pointer;
}

.app__list {
  width: 400px;
  height: 400px;
  overflow-y: auto;
  padding: 0;
}

.app_list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgb(116, 176, 176);
  border-radius: 20px;
  outline: none;
  padding: 0 15px;
  box-shadow: 0px 2px 3px 0 #d2d2d2;
  transition: 0.4s;
}

.app_list__item:hover {
  box-shadow: 0px 2px 3px 0 #9e9e9e;
}

.icon:hover {
  cursor: pointer;
}